$color-primary: #d4b505;
$color-text-base: #e3e6c8;
$color-text-accent: #b9966e;
$color-text-lightgray: #b2b2b2;
$color-text-darkgray: #4c4c4c;
$color-bg-base: #303030;
$color-bg-light: #404040;

// Overwrite Vuetify theme
.v-content {
  color: $color-text-base;
  background-color: $color-bg-base;
}
.v-btn {
  color: $color-text-darkgray !important;
}
.v-radio .v-icon {
  color: $color-text-lightgray !important;
}
.v-card {
  .v-card__title {
    color: $color-text-accent !important;
  }
  .v-card__text {
    color: $color-text-base !important;
  }
  background-color: $color-bg-light !important;
}
.v-list {
  background-color: $color-bg-light !important;
  .v-list-item__content,
  .v-list-item__title {
    color: $color-text-base !important;
  }
  .v-list-item__subtitle,
  .v-subheader {
    color: $color-text-accent !important;
  }
}
.v-toolbar {
  .v-toolbar__content {
    background-color: $color-bg-base !important;
    color: $color-text-accent !important;
  }
  .v-btn {
    color: $color-text-lightgray !important;
  }
}
.v-input {
  * {
    color: $color-text-base !important;
  }
}
.v-bottom-navigation {
  .v-btn__content {
    color: $color-text-accent !important;
  }
}
.v-navigation-drawer {
  background-color: $color-bg-light !important;
}

// Application css
.site-title {
  color: #f0f0f0;
  text-shadow:  2px  2px 10px $color-text-accent,
               -2px  2px 10px $color-text-accent,
                2px -2px 10px $color-text-accent,
               -2px -2px 10px $color-text-accent;
}
